<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="Suite 1" parallel="classes" thread-count="4">-->
<!--    <test name="Regression 1">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name = "Login"/>-->
<!--                <exclude name = "Positive"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="tests.CartTests"/>-->
<!--            <class name="tests.CheckoutTests"/>-->
<!--            <class name="tests.InventoryTests"/>-->
<!--            <class name="tests.LoginTests"/>-->
<!--            <class name="tests.ProductTests"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!--<suite name="Suite1" parallel="">-->
<!--    <test name="Regression 1">-->
<!--        <classes>-->
<!--            <class name="tests.CheckoutTests"/>-->
<!--            <class name="tests.LoginTests"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="Regression1">
        <classes>
            <class name="tests.CartTests"/>
            <class name="tests.CheckoutTests"/>
            <class name="tests.InventoryTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.ProductTests"/>
        </classes>
    </test>
</suite>